/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../css/fonts.css);
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 100%;
}

/* line 19, ../sass/screen.scss */
body {
  width: 100%;
  background: url("../svg/bg-bot.svg") center no-repeat;
  background-size: cover;
  font-family: "Roboto";
  color: #000;
}

/* line 26, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 29, ../sass/screen.scss */
a:hover {
  cursor: pointer;
  transition: .3s;
}

/* line 33, ../sass/screen.scss */
a:focus {
  outline: none;
}

/*HEADER*/
/* line 38, ../sass/screen.scss */
header {
  width: 100%;
  position: absolute;
  top: 0;
}

/* line 43, ../sass/screen.scss */
.huincha-roja {
  width: 70px;
  height: 230px;
  background: #FF4C38;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: -150px;
  z-index: 100;
  text-align: center;
  font-family: "Lato";
  font-weight: lighter;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: .875em;
  color: #FFF;
  transition: .3s ease-in-out;
}
/* line 59, ../sass/screen.scss */
.huincha-roja .grupo {
  width: 45px;
  display: block;
  margin: 0 auto 30px auto;
}
/* line 63, ../sass/screen.scss */
.huincha-roja .grupo a {
  display: block;
  margin: 15px auto;
}
/* line 66, ../sass/screen.scss */
.huincha-roja .grupo a img {
  width: auto;
  opacity: 1;
}
/* line 71, ../sass/screen.scss */
.huincha-roja .grupo a:hover > img {
  opacity: .5;
}
/* line 75, ../sass/screen.scss */
.huincha-roja span {
  display: block;
  margin: 0 auto;
  font-size: 1.875em;
}

/* line 81, ../sass/screen.scss */
.huincha-roja:hover {
  top: 0;
  transition: .3s ease-in;
}

/*HOME*/
/* line 87, ../sass/screen.scss */
.background {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 91, ../sass/screen.scss */
.fullscreen,
.content-a {
  width: 100%;
  height: 100%;
}

/* line 96, ../sass/screen.scss */
.content-a {
  display: table;
}

/* line 99, ../sass/screen.scss */
.content-b {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

/* line 105, ../sass/screen.scss */
.caja-logo {
  width: 500px;
  display: block;
  margin: 50px auto;
  padding: 30px 0;
  background: #FFF;
  box-sizing: border-box;
}
/* line 112, ../sass/screen.scss */
.caja-logo img {
  width: 90%;
  display: block;
  margin: auto;
}

/* line 118, ../sass/screen.scss */
.rrss {
  width: 500px;
  height: 70px;
  display: inline-block;
  padding: 10px;
  line-height: 3;
  background: #FFF;
  box-sizing: border-box;
}
/* line 126, ../sass/screen.scss */
.rrss a {
  width: 33%;
  float: left;
  line-height: 3;
  font-weight: bold;
  color: #000;
}
/* line 132, ../sass/screen.scss */
.rrss a i {
  width: 50px;
  line-height: 0;
  transition: .5s ease-in;
  font-size: 1.875em;
  color: #000;
}
/* line 140, ../sass/screen.scss */
.rrss a:hover > i {
  transition: .5s ease-in;
  font-size: 2.1875em;
}

/*FOOTER*/
/* line 147, ../sass/screen.scss */
footer {
  width: 100%;
  padding: 10px;
  background: #000;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  z-index: 50;
}
/* line 155, ../sass/screen.scss */
footer a {
  float: right;
}
/* line 157, ../sass/screen.scss */
footer a img {
  width: auto;
  height: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* line 166, ../sass/screen.scss */
  .huincha-roja span.mas {
    font-size: .9375em;
  }

  /* line 170, ../sass/screen.scss */
  .caja-logo,
  .rrss {
    width: 95%;
  }

  /* line 174, ../sass/screen.scss */
  .caja-logo {
    margin: 15px auto;
    padding: 15px 0;
  }

  /* line 178, ../sass/screen.scss */
  .rrss {
    height: inherit;
  }
  /* line 180, ../sass/screen.scss */
  .rrss a {
    float: left;
    font-size: .875em;
  }
  /* line 183, ../sass/screen.scss */
  .rrss a i {
    width: 15px;
    font-size: 1em;
  }
  /* line 188, ../sass/screen.scss */
  .rrss a:hover > i {
    transition: none;
    font-size: inherit;
  }

  /* line 193, ../sass/screen.scss */
  footer {
    padding: 5px;
  }
}
